name: myworkflow
on:
  push:
    branches: [ "main" ]
jobs:
    build:
        name: Publish Binaries
        runs-on: windows-latest

        steps:
            - uses: actions/checkout@v4
            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
               dotnet-version: 8.0.x
            - name: Restore dependencies
              run: dotnet restore
            - name: Build
              run: dotnet build --no-restore
            - name: Publish
              run: dotnet publish -c Release -o ./bin
            - name: Download ffmpeg
              run: |
                curl -L -o ffmpeg.zip https://www.gyan.dev/ffmpeg/builds/ffmpeg-release-essentials.zip
                7z e ffmpeg.zip -o"." "ffmpeg-*-essentials_build/bin/ffmpeg.exe" -r
                move ffmpeg.exe ./bin/
            - name: Archive
              run: 7z a -tzip publish.zip ./bin/Release/net8.0/*
            - name: Upload
              uses: svenstaro/upload-release-action@v2
              with:
                repo_token: ${{ secrets.GITHUB_TOKEN }}
                file: publish.zip
                asset_name: YT2MP3Sharp.zip
                tag: "1.0.3"
                overwrite: true
                body: "Update 1.0.3 | Updated to include new version of Youtube Explode and FFMpeg"
                        